includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: tmp/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

